<link href="https://fonts.googleapis.com/css?family=Cabin+Condensed|Open+Sans" rel="stylesheet"> 

/**
 * @file
 * CSS for Sistema.
 */
.form-item {
margin-bottom: 0 !important;
}

.form-item input {
max-width: 300px !important;
}

.form-submit {
margin-top: 1em;
}

fieldset {
background: #f7f7f7;
}

.view-students .view-content {
margin-bottom: 25px;
}

#block-sistema-branding {
height: 100px;
}

#block-sistema-branding {
height: 100px;
}

#block-sistema-branding img {
height: 120px;
position: relative;
top: -10px;
}

#header {
background-image: url(../images/sistemakidsbg.jpg);
}

.region-primary-menu {
margin-top: -10px;
}


.node--type-student h2, .node--type-student .field__label {
color: #565656;
}

.student-info, .student-sistema-info, .student-second-parent, .student-emerg-contact-1, .student-emerg-contact-2 {
padding: 2px 25px 25px 25px;
border-radius: 25px;
margin-bottom: 15px;
}

.student-info {
background: #f2e3ca;
}

.student-sistema-info {
background: #c0dee7;
}

.student-second-parent {
background: #c2e7c0;
}

.student-emerg-contact-1 {
background: #d9d8eb;
}

.student-emerg-contact-2 {
background: #e7ccc0;

}

.content {
font-family: 'Open Sans', sans-serif;
}

.content h1, .heading-a {
font-family: 'Cabin Condensed', sans-serif;
color: #25bdad !important;
font-size: 150%;
}

.content h2 {
font-size: 120%;
}

body {
   font-size: 100%;
   line-height: 1.5;
}

.region-primary-menu .menu a {
padding: 0.65em 0.8em 0.5em 0.8em;

}


.region-header .block-menu li a {
    background: rgba(255, 255, 255, 0.4);
    border-bottom: solid 1px rgba(255, 255, 255, 0.6);
    font-size: 110%;
    color: #363636;
}

.region-header .block-menu li a:hover {
    background: rgba(255, 255, 255, 0.6);
    border-bottom: solid 1px rgba(255, 255, 255, 0.8);
}

.header {
min-height: 150px;
}
